.selectGrad .navds-select__container {
  width: 6rem;
}

.selectAar .navds-select__container {
  width: 6rem;
}

.selectMaaneder .navds-select__container {
  width: 9rem;
}

.selectGrad select {
  width: 6rem;
}

.selectGrad .selectAar .selectMaaneder label {
  width: 100%;
}
