.singleSelect .navds-select__container {
  width: 6rem;
}

.selectAar .navds-select__container {
  width: 6rem;
}

.selectMaaneder .navds-select__container {
  width: 9rem;
}

.singleSelect select {
  width: 6rem;
}

.singleSelect .selectAar .selectMaaneder label {
  width: 100%;
}
