.selectGrad .navds-select__container {
  width: 6rem;
}

.selectAar .navds-select__container {
  min-width: 6rem;
  width: auto;
}

.selectSivilstand .navds-select__container {
  width: auto;
}

.selectGrad select {
  width: 6rem;
}

.selectGrad .selectAar label {
  width: 100%;
}
