.textfieldAar input {
  width: 6rem;
}
.textfieldInntekt input {
  width: 16rem;
}

.componentSpacing {
  margin-bottom: 2rem;
}

.overskrift {
  font-size: var(--a-font-size-heading-xlarge);
}
.underOverskrift {
  font-size: var(--a-font-size-heading-medium);
  margin-bottom: 1.5rem;
}

.tabellScrollbarhet {
  overflow: auto;
}
