.textfieldAar input {
  width: 6rem;
}
.textfieldInntekt input {
  width: 16rem;
}
.centerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.componentSpacing {
  margin-bottom: 2rem;
}

.overskrift {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.underOverskrift {
  margin-bottom: 1.5rem;
}

.tabellScrollbarhet {
  overflow: auto;
}

.blueIcon {
  background-color: var(--a-deepblue-500);
}

.purpleIcon {
  background-color: var(--a-purple-400);
}

.footerSpacing {
  margin-bottom: 2.5rem;
}

.listSpacing ul {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
