.selectWrapper {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 2rem;
}

.selectWrapper legend {
  margin-bottom: 0.5rem;
}

.textfieldAar input {
  width: 6rem;
}
.textfieldMaaned input {
  width: 9rem;
}
.textfieldInntekt input {
  width: 16rem;
}
